<header id="header" class="header fixed-top d-flex align-items-center" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
    #noti {
        max-height: 300px;
        overflow-y: auto;
        width: 100%;
    }
</style>
    <div class="d-flex align-items-center justify-content-between" sec:authorize="hasAnyAuthority('관리자','직원')">
        <a href="/user/mainpage" class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <span class="d-none d-lg-block">HitechAutoworks</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="d-flex align-items-center justify-content-between" sec:authorize="hasAnyAuthority('손님')">
        <a href="/user/selectRes" class="logo d-flex align-items-center">
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <span class="d-none d-lg-block">HitechAutoworks</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number" id="countnoti"></span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" >
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <div id="noti" style="width: 250px; max-height: 300px; overflow-y: auto;">

                    </div>


                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="@{${userDTO.userImg}}" alt="Profile" class="rounded-circle">
                    <!-- 위에 사진 넣기 -->
                    <span class="d-none d-md-block dropdown-toggle ps-2" th:text="${userDTO.userName}"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 th:text="${userDTO.userName}"></h6>
                        <span th:text="${userDTO.userDepartment}"></span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/mypage">
                            <i class="bi bi-person"></i>
                            <span>내 정보 보기</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/user/contact">
                            <i class="bi bi-question-circle"></i>
                            <span>문의하기</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->
<script>

    fetch("/user/repairnoti")
        .then(res => res.json())
        .then(data =>{
            const countnoti = document.getElementById("countnoti");
            countnoti.textContent = data.length;
            const $noti = document.getElementById('noti');


            for(let index in data){
                const li = document.createElement("li");
                li.className = "notification-item";

                // i 요소 생성 및 클래스 추가
                const icon = document.createElement("i");
                icon.className = "bi bi-exclamation-circle text-warning";

                const a = document.createElement("a");
                a.href='/user/repairdetail?resCode=' + data[index].resDTO.code;
                console.log(data)

                $noti.appendChild(li);
                const li2 = document.createElement("li");
                const hr = document.createElement("hr");
                hr.className = "dropdown-divider";
                $noti.appendChild(li2);
                li2.appendChild(hr);
                li.appendChild(a);
                a.appendChild(icon);
                const $title = document.createElement("h4");
                const $content = document.createElement("p");
                $title.value = data[index].content;
                $title.textContent = data[index].content;
                $content.textContent = "해당 작업 시작이 한시간 남았습니다.";
                icon.appendChild($title);
                icon.appendChild($content);

            }
        })
    fetch("/user/partnoti")
        .then(res => res.json())
        .then(data =>{
            const countnoti = document.getElementById("countnoti");
            countnoti.textContent=parseInt(countnoti.textContent) +parseInt( data.length);

            const $noti = document.getElementById('noti');


            for(let index in data){
                const li = document.createElement("li");
                li.className = "notification-item";

                // i 요소 생성 및 클래스 추가
                const icon = document.createElement("i");
                icon.className = "bi bi-exclamation-circle text-warning";

                const a = document.createElement("a");
                a.id = "part"+data[index].partCode;
                a.href='/user/partdetail?partCode='  + data[index].partCode;

                $noti.appendChild(li);
                const li2 = document.createElement("li");
                const hr = document.createElement("hr");
                hr.className = "dropdown-divider";
                $noti.appendChild(li2);
                li2.appendChild(hr);
                li.appendChild(a);
                a.appendChild(icon);
                const $title = document.createElement("h4");
                const $content = document.createElement("p");
                $title.textContent = data[index].partName;
                $content.textContent = "해당 부품이 3개 이하 남았습니다.";
                icon.appendChild($title);
                icon.appendChild($content);

            }
        })
        countnoti.textContent = count;

</script>

