<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccountModify_Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .navbar-brand img {
            width: 80%; /* 이미지의 원래 크기로 설정 */
        }
        .navbar-nav .nav-item {
            margin-right: 100px;
        }
        #content-container {
            display: flex;
            margin-left: 300px;
            margin-top: -150px;

        }

        #content {
            width: 80%; /* 화면 너비의 50%로 조정 */
            height: 600px; /* 회색 배경의 높이 조정 */
            background-color: lightgray;
            padding: 20px;
            text-align: center; /* 텍스트를 가운데 정렬 */
            white-space: nowrap;
        }
        .form-label {
            font-weight: bold;
            text-align: right; /* 라벨을 오른쪽으로 정렬 */
            padding-right: 10px; /* 오른쪽 여백 추가 */
        }

        /*#photo-size {*/
        /*width: 200px;*/
        /*height: 250px;*/
        /*background-color: white;*/
        /*float: left;*/
        /*    !* 왼쪽으로 배치 *!*
        /*}*/
        .form-control {
            margin-bottom: 10px;
        }

        .btn-regist {
            background-color: darkgray;
            border-color: darkgray;
        }
        nav{
            white-space: nowrap;
        }
    </style>
</head>

<body>

<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="https://github.com/panghunJO/HitechProject1/assets/157236060/ade911fb-5b0b-409d-b99a-4b4d23ecff64"alt="Logo" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                    <li class="nav-item">
                        <a class="nav-link" href="employee/account/account">작업관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="employee/part/part">재고관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">메일/채팅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin/account/account">계정관리</a>
                    </li>
                </ul>
                <p id="username" class="nav-link"  th:text="|${userName}님|"></p>
                <ul class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">마이페이지</a></li>
                        <li><a class="dropdown-item" href="#">로그아웃</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <label class="form-label" style="font-size: 20px;">계정관리</label><br><br>
        <a class="nav-link" href="#">내 정보 조회</a><br>
        <a id="employeeSearchButton" class="nav-link" href="#">직원조회</a><br>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="container" id="content-container">
                <div class="container" id="content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <form id="actionForm" method="post">
                                    <!--                                    <div id="photo-size" >-->
                                    <!--&lt;!&ndash;                                        <form action="AccountModify" method="post" enctype="multipart/form-data">&ndash;&gt;-->
                                    <!--                                            <input type="file" name="fileUpload" id="fileUpload">-->
                                    <!--&lt;!&ndash;                                        </form>&ndash;&gt;-->
                                    <!--                                    </div>-->
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">사원 이름:</label>
                                        <div class="col-sm-8">
                                            <input name="userName" type="text"
                                                   maxlength="4"
                                                   minlength="2"
                                                   required
                                                   class="form-control"
                                                   th:value="${userDTO.userName}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label  class="col-sm-4 col-form-label text-end">사원 번호:</label>
                                        <div class="col-sm-8">
                                            <input  name="userCode" type="text"
                                                    placeholder="ex) 505000"
                                                    maxlength="16"
                                                    minlength="2"
                                                    required
                                                    class="form-control"
                                                    th:value="${ userDTO.userCode }"
                                                    READONLY>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label  class="col-sm-4 col-form-label text-end">소속:</label>
                                        <div class="col-sm-8">
                                            <input  type="text"
                                                    placeholder="ex) OOO 지점"
                                                    maxlength="8"
                                                    minlength="2"
                                                    required
                                                    class="form-control"
                                                    name="userDepartment"
                                                    th:value="${ userDTO.userDepartment}">
                                        </div>
                                    </div>
                                    <div class="row mb-3" >
                                        <label class="col-sm-4 col-form-label text-end">휴대폰 번호</label>
                                        <div class="col-sm-8">
                                            <input  name="userPhone" type="text"
                                                    placeholder="ex) 010-1234-1234"
                                                    maxlength="8"
                                                    minlength="2"
                                                    required
                                                    class="form-control"
                                                    th:value="${ userDTO.userPhone}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">이메일:</label>
                                        <div class="col-sm-8" >
                                            <input  name="userEmail" type="email"
                                                    placeholder="ex) abc@def.com"
                                                    maxlength="8"
                                                    minlength="2"
                                                    required
                                                    class="form-control"
                                                    th:value="${ userDTO.userEmail}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">주소:</label>
                                        <div class="col-sm-8">
                                            <input  name="userAddress" type="text"
                                                    placeholder="ex) OO시 OO구 OO동"
                                                    maxlength="8"
                                                    minlength="2"
                                                    required
                                                    class="form-control"
                                                    th:value="${ userDTO.userAddress}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">아이디:</label>
                                        <div class="col-sm-8">
                                            <input name="userId"
                                                   type="text"
                                                   maxlength="8"
                                                   minlength="2"
                                                   required
                                                   class="form-control"
                                                   th:value="${ userDTO.userId}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">비밀번호:</label>
                                        <div class="col-sm-8">
                                            <input name="userPw"
                                                   type="text"
                                                   maxlength="8"
                                                   minlength="2"
                                                   required
                                                   class="form-control"
                                                   placeholder="변경할 비밀번호를 입력해주세요 "
                                                   th:value="${userDTO.password}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-4 col-form-label text-end">비밀번호 확인:</label>
                                        <div class="col-sm-8">
                                            <input name="userPwCheck"
                                                   type="text"
                                                   maxlength="100"
                                                   minlength="2"
                                                   required
                                                   class="form-control"
                                                   placeholder="비밀번호를 한 번 더 입력해주세요 ">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col text-end">
                                            <button type="submit" class="btn btn-regist" onclick="modifypart()">수정</button>
                                            <button type="button" class="btn btn-modify" onclick="deletepart()">삭제</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // 수정
    function modifypart() {
        document.getElementById("actionForm").action = "/admin/account/AccountModify";
        document.getElementById("actionForm").submit();
    }
    // 삭제
    function deletepart() {
        document.getElementById("actionForm").action = "/admin/account/AccountDelete";
        document.getElementById("actionForm").submit();
    }

    // 사용자 이름 클릭 시 서브메뉴 토글
    document.addEventListener("DOMContentLoaded", function() {
        var usernameDiv = document.getElementById('username');
        var submenu = document.querySelector('.submenu');

        usernameDiv.addEventListener('click', function(event) {
            event.preventDefault();
            submenu.classList.toggle('active');
        });
        var message = '[[${errorMessage}]]';
        console.log(message)
        if (message){
            alert(message);
        }
    });

    // 네비게이션 링크 클릭 시 'active' 클래스 토글
    function toggleActive(event) {
        var link = event.target; // 클릭한 링크 요소 가져오기
        var links = document.querySelectorAll('#menu a'); // 모든 링크 요소 가져오기

        // 모든 링크에서 'active' 클래스 제거
        links.forEach(function(item) {
            item.classList.remove('active');
        });

        // 클릭한 링크에 'active' 클래스 추가
        link.classList.add('active');
    }
</script>
</body>
</html>
