<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HitechAutoWorks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="/member/login" class="logo d-flex align-items-center w-auto">
                                <span class="d-none d-lg-block">HitechAutoworks</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">계정에 로그인 하세요!</h5>
                                    <p class="text-center small">Enter your id & password to login</p>
                                </div>

                                <form class="row g-3 needs-validation" action="/member/login" method="post">

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">아이디</label>
                                        <div class="input-group has-validation">
                                            <input type="text" name="user12" class="form-control" id="yourUsername" required>
                                            <div class="invalid-feedback">아이디를 입력해주세요!</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">비밀번호</label>
                                        <input type="password" name="pass12" class="form-control" id="yourPassword" required>
                                        <div class="invalid-feedback">비밀번호를 입력해주세요!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">

                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">계정이 없으신가요? <a href="/member/regist"> 회원가입 하기</a></p>
                                        <p class="small mb-0">계정을 잊으셨나요?<a href="#" onclick="openPasswordModal()"> 계정 찾기</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 모달 -->
            <div id="passwordModal" class="modal" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">아이디/비밀번호 찾기</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePasswordModal()"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">아이디 찾기</h5>
                                            <p class="card-text">아이디를 찾기 위해 정보를 입력하세요:</p>
                                            <input type="email" class="form-control mb-3" placeholder="이메일을 입력하세요" id="emailForId">
                                            <button type="button" class="btn btn-primary" id="searchForId">아이디 찾기</button>
                                            <div id="idResult" class="mt-3" style="display: none;">
                                                <h6><span id="foundId"></span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">비밀번호 찾기</h5>
                                            <p class="card-text">비밀번호를 찾기 위해 정보를 입력하세요:</p>
                                            <input type="text" class="form-control mb-3" placeholder="아이디를 입력하세요" id="findPwId">
                                            <input type="text" class="form-control mb-3" placeholder="휴대폰 번호를 입력하세요" id="findPwPhone">
                                            <div id="phoneMessage" style="color: red; margin-bottom: 0.25rem; display: none">"-" 를 포함한 13자리수 이상 숫자만 입력하세요</div>
                                            <button type="button" class="btn btn-primary" id="searchForPw" disabled>비밀번호 찾기</button>
                                            <div id="PWResult" class="mt-3" style="display: none;">
                                                <h6><span id="foundPW"></span></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" onclick="closePasswordModal()">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function openPasswordModal() {
                    var modal = new bootstrap.Modal(document.getElementById('passwordModal'));
                    modal.show();
                }

                function closePasswordModal() {
                    var modal = bootstrap.Modal.getInstance(document.getElementById('passwordModal'));
                    modal.hide();
                }

                document.getElementById('searchForPw').addEventListener('click', () => {
                    var userId = document.getElementById('findPwId').value;
                    var userPhone = document.getElementById('findPwPhone').value;
                    fetch("/auth/searchForPW", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            Id:userId,
                            phone:userPhone
                        })
                    }) .then(response => response.json())
                        .then(result => {
                            if (result && result.newPass) {
                                document.getElementById('foundPW').innerText = '임시비밀번호는 ' +result.newPass + '입니다 반드시 비밀번호를 변경해주세요';
                                document.getElementById('PWResult').style.display = 'block';
                            } else {
                                document.getElementById('foundPW').innerText = '아이디, 휴대폰 번호에 해당하는 비밀번호를 찾을 수 없습니다!';
                                document.getElementById('PWResult').style.display = 'block';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });

                })


                document.getElementById('searchForId').addEventListener('click', () => {
                    var idForEmail = document.getElementById('emailForId').value;
                    var passForId = document.getElementById('findPwId');
                    fetch("/auth/searchForId", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            email:idForEmail
                        })
                    }) .then(response => response.json())
                        .then(result => {
                            if (result && result.user_id) {
                                document.getElementById('foundId').innerText = '당신의 아이디는 ' +result.user_id + '입니다!!';
                                document.getElementById('idResult').style.display = 'block';
                                passForId.value = result.user_id;
                            } else {
                                document.getElementById('foundId').innerText = '이메일에 해당하는 아이디를 찾을 수 없습니다!';
                                document.getElementById('idResult').style.display = 'block';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                })

                function validatePhoneNumber() {
                    const phoneInput = document.getElementById('findPwPhone');
                    const phoneMessage = document.getElementById('phoneMessage');
                    const phoneValue = phoneInput.value;

                    const pwbutton = document.getElementById('searchForPw');

                    if (!/^\d{3}-\d{3,4}-\d{4}$/.test(phoneValue) || phoneValue.length < 13) {
                        phoneMessage.style.display = 'block';
                        phoneInput.classList.add('is-invalid');
                    } else {
                        phoneMessage.style.display = 'none';
                        phoneInput.classList.remove('is-invalid');
                        phoneInput.classList.add('is-valid');
                        pwbutton.disabled = false;
                    }
                }
                document.getElementById('findPwPhone').addEventListener('input', validatePhoneNumber);
            </script>
        </section>

    </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>