<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center; color: darkgoldenrod">EMPLOYEE 입니다.</h1>
<button onclick="location.href='/employee/part/part'">부품</button>
<button onclick="location.href='/employee/account/account'">계정</button>
<button onclick="location.href='/customer/res/res_01'">res_01</button>
<button onclick="location.href='/customer/res/res_02'">res_02</button>
<button onclick="location.href='/customer/res/res_03'">res_03</button>
<button onclick="location.href='/customer/res/res_04'">res_04</button>
<button onclick="location.href='/customer/res/res_05'">res_05</button>
<button onclick="location.href='/customer/res/res_06'">res_06</button>
<button onclick="location.href='/customer/res/res_07'">res_07</button>
<button onclick="location.href='/customer/res/res_08'">res_08</button>
</body>
</html>