<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HitechAutoworks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@14.0.1/simple-datatables.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header.html}"></div>
<div th:replace="~{common/sidebar.html}"></div>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item" sec:authorize="hasAnyAuthority('관리자','직원')"><a href="/user/mainpage">Home</a></li>
                <li class="breadcrumb-item" sec:authorize="hasAnyAuthority('손님')"><a href="/selectRes">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img th:src="@{${userDTO.userImg}}" alt="Profile" class="rounded-circle">
                        <h2 th:text="${userDTO.userName}"></h2>
                        <h3 th:text="${userDTO.userDepartment}"></h3>
<!--                        <button type="button" class="btn btn-outline-primary btn-sm mt-3">쪽지보내기</button>-->
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic" th:text="${userDTO.userAbout}"></p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">이름</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userName}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">소속</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userDepartment}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">권한</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userRole}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">주소</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userAddress}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">휴대폰 번호</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userPhone}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userEmail}"></div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <form id="actionForm" method="POST">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img id="profileImg" src="https://github.com/panghunJO/HitechProject1/assets/157236060/47193bdf-e92b-47ad-af58-5a74ac4d170b" alt="Profile" width="200" class="rounded-circle">
                                            <div class="pt-2">
                                                <input type="file" id="fileInput" style="display: none;" accept="image/*">
                                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image" onclick="document.getElementById('fileInput').click();"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="removeImage();"><i class="bi bi-trash"></i></a>
                                                <button type="button" id="imgbtn" class="btn btn-success m-lg-3" onclick="uploadImage()">저장하기</button>
                                            </div>
                                        </div>
                                    </div>
                                    <canvas id="canvas" style="display:none;"></canvas>
<script>
    const hypenTel = (target) => {
        target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
    }
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = new Image();
                img.onload = function() {
                    const canvas = document.getElementById('canvas');
                    const ctx = canvas.getContext('2d');
                    const size = Math.min(img.width, img.height);

                    canvas.width = size;
                    canvas.height = size;

                    ctx.drawImage(
                        img,
                        (img.width - size) / 2,
                        (img.height - size) / 2,
                        size,
                        size,
                        0,
                        0,
                        size,
                        size
                    );

                    const dataURL = canvas.toDataURL('image/png');
                    document.getElementById('profileImg').src = dataURL;
                }
                img.src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });

    function removeImage() {
        document.getElementById('profileImg').src = 'https://github.com/panghunJO/HitechProject1/assets/157236060/47193bdf-e92b-47ad-af58-5a74ac4d170b';
        document.getElementById('fileInput').value = '';
    }

    function uploadImage() {
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        if (!file) {
            alert("이미지를 선택하세요.");
            return;
        }

        const canvas = document.getElementById('canvas');
        canvas.toBlob(function(blob) {
            const formData = new FormData();
            formData.append('profileImage', blob, 'profile.png');

            fetch('/user/imgUpload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data == 1) {
                        alert('이미지가 성공적으로 업로드되었습니다.');
                        location.reload();
                    } else {
                        alert('이미지 업로드에 실패했습니다.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('이미지 용량이 너무 큽니다.');
                });
        }, 'image/png');
    }

</script>
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">이름</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName" th:value="${userDTO.userName}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about" class="form-control" id="about" style="height: 100px" th:text="${userDTO.userAbout}"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">소속</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company" th:value="${userDTO.userDepartment}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">권한</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job" th:value="${userDTO.userRole}" readonly>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">주소</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="input-group">
                                                <input name="address" type="text" class="form-control" id="Address" th:value="${userDTO.userAddress}">
                                                <button type="button" class="btn btn-info input-group-text" onclick="execDaumPostcode()">주소찾기</button>
                                            </div>
                                        </div>
                                    </div>
                                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                    <script>
                                        function execDaumPostcode() {
                                            new daum.Postcode({
                                                oncomplete: function(data) {
                                                    var addr = '';

                                                    if (data.userSelectedType === 'R') {
                                                        addr = data.roadAddress;
                                                    } else {
                                                        addr = data.jibunAddress;
                                                    }
                                                    document.getElementById("Address").value = addr;
                                                }
                                            }).open();
                                        }
                                    </script>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">휴대폰 번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone" th:value="${userDTO.userPhone}" oninput="hypenTel(this)">
                                            <div id="phoneMessage" style="display: none; color: red"> 11자리수 이상 숫자만 입력하세요</div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="input-group">
                                            <input name="email" type="email" class="form-control" id="Email" th:value="${userDTO.userEmail}">
                                            <button type="button" id="emailCheck" class="btn btn-info" disabled>중복확인</button>
                                            </div>
                                            <span style="color: red; display: none"
                                                  id="emailerror">유효하지 않은 이메일 주소입니다.</span>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" id="submitbtn" onclick="updateProfile()">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast33" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="me-auto">HitechAutoworks 알리미</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            이메일 인증에 성공하였습니다!
                                        </div>
                                    </div>
                                </div>


                                <script>
                                    var emailCheck = document.getElementById('email');
                                    var emailerror = document.getElementById('emailerror');
                                    emailCheck.addEventListener('input', () => {
                                        emailerror.style.display = 'block';
                                        document.getElementById('submitbtn').disabled = false;
                                        if(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i.test(emailCheck.value)){
                                            emailCheck12.disabled = false;
                                            set6 = 1;
                                            emailerror.style.display = 'none';
                                            updateButtonState()
                                        } else {
                                            set6 = 0;
                                            emailerror.style.display = 'block';
                                            updateButtonState()
                                        }
                                    })

                                    document.getElementById('emailCheck').addEventListener('click', () => {
                                        var email = document.getElementById('email');
                                        fetch("/auth/emailCheck", {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify(email.value)
                                        })
                                            .then(response => response.json())
                                            .then(data => {
                                                if(data == 0){
                                                    email.readOnly = true;
                                                    document.getElementById('submitbtn').disabled = false;
                                                    const toastLiveExample = document.getElementById('liveToast33');
                                                    const toast = new bootstrap.Toast(toastLiveExample);
                                                    toast.show();
                                                }else{
                                                    alert("중복된 이메일 입니다.");
                                                }

                                            })
                                    })


                                    function validatePhoneNumber() {
                                        const phoneInput = document.getElementById('Phone');
                                        const phoneMessage = document.getElementById('phoneMessage');
                                        const phoneValue = phoneInput.value;
                                        document.getElementById('submitbtn').disabled = true;
                                        if (!/^\d{3}-\d{3,4}-\d{4}$/.test(phoneValue) || phoneValue.length < 13) {
                                            phoneMessage.style.display = 'block';
                                            phoneInput.classList.add('is-invalid');
                                        } else {
                                            phoneMessage.style.display = 'none';
                                            phoneInput.classList.remove('is-invalid');
                                            phoneInput.classList.add('is-valid');
                                            document.getElementById('submitbtn').disabled = false;
                                        }
                                    }

                                    document.getElementById('Phone').addEventListener('input', validatePhoneNumber);

                                </script>

                                <script>
                                    function updateProfile(){
                                        document.getElementById("actionForm").action = "/user/mypage/update";
                                        document.getElementById("actionForm").submit();
                                    }
                                </script>

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form id="changePasswordForm" onsubmit="return false;">
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재 비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">변경할 비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">비밀번호 확인</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                            <div id="passwordMismatch" class="text-danger d-none">비밀번호가 일치하지 않습니다.</div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" id="changebutton" class="btn btn-primary" disabled>비밀번호 바꾸기</button>
                                    </div>
                                </form>

                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                        <div class="toast-header">
                                            <strong class="me-auto">비밀번호 변경 오류</strong>
<!--                                            <small>11 mins ago</small>-->
                                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                        </div>
                                        <div class="toast-body">
                                            현재 비밀번호가 일치하지 않습니다. 다시 입력해 주세요.
                                        </div>
                                    </div>
                                </div>


                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var changebutton = document.getElementById('changebutton');
                                        var currentPasswordInput = document.getElementById('currentPassword');
                                        var newPasswordInput = document.getElementById('newPassword');
                                        var renewPasswordInput = document.getElementById('renewPassword');
                                        var passwordMismatchMessage = document.getElementById('passwordMismatch');

                                        function comparePasswords() {
                                            var newPassword = newPasswordInput.value;
                                            var renewPassword = renewPasswordInput.value;

                                            if (newPassword !== renewPassword) {
                                                passwordMismatchMessage.classList.remove('d-none');
                                                changebutton.disabled = true;
                                            } else {
                                                passwordMismatchMessage.classList.add('d-none');
                                                changebutton.disabled = false;
                                            }
                                        }

                                        renewPasswordInput.addEventListener('input', comparePasswords);
                                        newPasswordInput.addEventListener('input', comparePasswords);

                                        changebutton.addEventListener("click", () => {
                                            var currentPassword = currentPasswordInput.value;
                                            var newPassword = newPasswordInput.value;

                                            fetch("/user/mypage/changepass", {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify({
                                                    currentPassword: currentPassword,
                                                    newPassword: newPassword
                                                })
                                            })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data == 0) {
                                                        const toastLiveExample = document.getElementById('liveToast')
                                                        const toast = new bootstrap.Toast(toastLiveExample)
                                                        toast.show()
                                                        currentPasswordInput.value = '';
                                                    } else if (data == 1) {
                                                        alert("변경성공!! 다시 로그인해주세요");
                                                        location.href = '/logout';
                                                    } else if(data == 2) {
                                                        alert("같은 비밀번호는 사용할 수 없습니다 !!");
                                                        newPasswordInput.value = '';
                                                        renewPasswordInput.value = '';
                                                    }
                                                    else if (data.error) {
                                                        alert("Error: " + data.error);
                                                        return Promise.reject(new Error(data.error));
                                                    }
                                                })
                                                .catch(error => {
                                                    console.error('Error:', error);
                                                });
                                        });
                                    });

                                </script>

                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Password Error</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                현재 비밀번호가 일치하지 않습니다 !
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<div th:replace="~{common/footer.html}"></div>
</body>
</html>