<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HitechAutoworks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@14.0.1/simple-datatables.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>


<div th:replace="/common/header.html"></div>
<div th:replace="/common/sidebar.html"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="exampleModalLabel">프로필 사진 삽입 방법</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <img src="https://i.postimg.cc/ZnM1gsBD/2024-05-16-11-56-21.png" class="img-fluid" alt="이미지설명">
                    <button type="button" class="btn btn-success" onclick="imglinked()">이동하기!</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function imglinked(){
            var popurl = "https://postimages.org/";
            var popOption = "top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=no";
            window.open(popurl, popOption);
        }
    </script>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img th:src="@{${userDTO.userImg}}" alt="Profile" class="rounded-circle">
                        <h2 th:text="${userDTO.userName}"></h2>
                        <h3 th:text="${userDTO.userDepartment}"></h3>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>

                            <!-- <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                            </li> -->

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">About</h5>
                                <p class="small fst-italic" th:text="${userDTO.userAbout}"></p>

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">이름</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userName}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">소속</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userDepartment}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">권한</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userRole}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">주소</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userAddress}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">휴대폰 번호</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userPhone}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8" th:text="${userDTO.userEmail}"></div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form id="actionForm" method="POST">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" name="userImg" placeholder="이미지 url를 넣어주세요! ex. (https://~~~~.png )" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    사용방법
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">이름</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName" th:value="${userDTO.userName}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="about" class="form-control" id="about" style="height: 100px" th:text="${userDTO.userAbout}"></textarea>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">소속</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text" class="form-control" id="company" th:value="${userDTO.userDepartment}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">권한</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job" th:value="${userDTO.userRole}" readonly>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">주소</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address" th:value="${userDTO.userAddress}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">휴대폰 번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone" th:value="${userDTO.userPhone}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" th:value="${userDTO.userEmail}">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" onclick="updateProfile()">Save Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                                <script>
                                    function updateProfile(){
                                        document.getElementById("actionForm").action = "/user/mypage/update";
                                        document.getElementById("actionForm").submit();
                                    }
                                </script>

                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form action="/user/mypage/changepass" method="post">
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재 비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">변경할 비밀번호</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">비밀번호 확인</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                            <div id="passwordMismatch" class="text-danger d-none">비밀번호가 일치하지 않습니다.</div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" id="changebutton" class="btn btn-primary" disabled>비밀번호 바꾸기</button>
                                    </div>
                                </form>

                                <script>
                                    var changebutton = document.getElementById('changebutton');
                                    var currentPasswordInput = document.getElementById('currentPassword');
                                    var newPasswordInput = document.getElementById('newPassword');
                                    var renewPasswordInput = document.getElementById('renewPassword');
                                    var passwordMismatchMessage = document.getElementById('passwordMismatch');

                                    function comparePasswords() {
                                        var newPassword = newPasswordInput.value;
                                        var renewPassword = renewPasswordInput.value;

                                        if (newPassword !== renewPassword) {
                                            passwordMismatchMessage.classList.remove('d-none');
                                            changebutton.disabled = true;
                                        } else {
                                            passwordMismatchMessage.classList.add('d-none');
                                            changebutton.disabled = false;
                                        }
                                    }

                                    // 입력값 비교 이벤트 리스너 등록
                                    renewPasswordInput.addEventListener('input', comparePasswords);

                                    changebutton.addEventListener("click", () => {
                                        var currentPassword = currentPasswordInput.value;
                                        var newPassword = newPasswordInput.value;

                                        fetch("/user/mypage/changepass", {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            },
                                            body: JSON.stringify({
                                                currentPassword: currentPasswordInput.value,
                                                newPassword:newPasswordInput.value
                                            })
                                        })
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data === 0) {
                                                    alert("비밀번호가 일치하지 않습니다!!!");
                                                    location.href = '/user/mypage';
                                                } else if(data == 1) {
                                                    alert("변경성공!! 다시 로그인해주세요");
                                                    location.href = '/logout';
                                                } else if(data.error) {
                                                    alert("Error: " + data.error);
                                                    return Promise.reject(new Error(data.error));
                                                }

                                            })
                                            .catch(error => {
                                                console.error('Error:', error);
                                            });
                                    });

                                </script>


                                <!-- End Change Password Form -->


<!--                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                                    Launch demo modal-->
<!--                                </button>-->

                                <!-- 모달 -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">PassWord Error</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                현재 비밀번호가 일치하지 않습니다 !
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="/common/footer.html"></div>
</body>
</html>