<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>HitechAutoworks</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@14.0.1/simple-datatables.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <style>
        .clickable {
            cursor: pointer;
        }
        .hidden-content {
            display: none;
        }

        @media (max-width: 768px) {
            .order-lg-1 {
                order: 1;
            }
            .order-lg-2 {
                order: 2;
            }
            .order-lg-3 {
                order: 5;
            }
            .order-lg-4 {
                order: 3;
            }
            .order-lg-5 {
                order: 4;
            }
        }
    </style>
</head>
<body>
<div th:replace="~{common/header.html}"></div>
<div th:replace="~{common/sidebar.html}"></div>

<main id="main" class="main">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">HitechAutoworks 알리미</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                차종을 선택해 주세요!!!! 없으면 직접 입력해주세요!
            </div>
        </div>
    </div>

    <section class="section">
        <div class="pagetitle">
            <h1>예약</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/selectRes">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/res"></a>예약차량 등록</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <!-- first card -->
        <div class="row">
            <div class="col-lg-4 clickable dropdown order-lg-1">
                <div class="card mb-3">
                    <div class="row g-0" onclick="toggleContent(this)">
                        <div class="col-md-4">
                            <img src="https://i.postimg.cc/L8rsr1gx/hyundai.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mt-1">현대</h5>
                                <p class="card-text me-4 mb-2">내 차를 선택해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-content mt-3">
                        <form class="p-3">
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="gran" value="그랜저">
                                <label class="form-check-label" for="gran"> 그랜저 </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="abante" value="아반떼">
                                <label class="form-check-label" for="abante">아반떼</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="sonata" value="쏘나타">
                                <label class="form-check-label" for="sonata">쏘나타</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="santa" value="싼타페">
                                <label class="form-check-label" for="santa">싼타페</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="star" value="스타렉스">
                                <label class="form-check-label" for="star">스타렉스</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="ssan" value="투싼">
                                <label class="form-check-label" for="ssan">투싼</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="genesis" value="제네시스">
                                <label class="form-check-label" for="genesis">제네시스</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- second card -->
            <div class="col-lg-4 clickable dropdown order-lg-2">
                <div class="card mb-3">
                    <div class="row g-0" onclick="toggleContent(this)">
                        <div class="col-md-4">
                            <img src="https://i.postimg.cc/N0kkFBtv/image.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mt-1">기아</h5>
                                <p class="card-text me-4 mb-2">내 차를 선택해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-content mt-3">
                        <form class="p-3">
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="carnival" value="카니발">
                                <label class="form-check-label" for="carnival">카니발</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="sorento" value="쏘렌토">
                                <label class="form-check-label" for="sorento">쏘렌토</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="K5" value="K5">
                                <label class="form-check-label" for="K5">K5</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="K7" value="K7">
                                <label class="form-check-label" for="K7">K7</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="MN" value="모닝">
                                <label class="form-check-label" for="MN">모닝</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="SP" value="스포티지">
                                <label class="form-check-label" for="SP">스포티지</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="ray" value="레이">
                                <label class="form-check-label" for="ray">레이</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- last Card (Input Form) -->
            <div class="col-lg-4 order-lg-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title mt-1">다음 단계</h5>
                        <form action="/carSubmit" method="post" style="position:relative;">
                            <div class="mb-3">
                                <textarea class="form-control" id="inputMessage" name="inputMessage" rows="3" placeholder="차량을 체크해주세요"></textarea>
                                <label for="inputMessage" class="form-label mt-4">리스트에 없는 경우 직접 작성해주세요</label>
                            </div>
                            <div style="position:relative;">
                                <button type="submit" class="btn btn-primary" id="submitBtn" disabled>다음 단계로</button>
                                <div id="overlay" style="position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0); display:none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End First Row -->

        <!--third card-->
        <div class="row">
            <div class="col-lg-4 clickable dropdown order-lg-4">
                <div class="card mb-3">
                    <div class="row g-0" onclick="toggleContent(this)">
                        <div class="col-md-4">
                            <img src="https://i.postimg.cc/3NVMdgT6/chevy-impala-6889699-1280.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mt-1">쌍용(KG모빌리티)/쉐보레(GM대우)</h5>
                                <p class="card-text me-4 mb-2">내 차를 선택해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-content mt-3">
                        <form class="p-3">
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="tiboli" value="티볼리">
                                <label class="form-check-label" for="tiboli">티볼리</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="Lex" value="렉스턴">
                                <label class="form-check-label" for="Lex">렉스턴</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="corando" value="코란도">
                                <label class="form-check-label" for="corando">코란도</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="tores" value="토레스">
                                <label class="form-check-label" for="tores">토레스</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="chairman" value="체어맨">
                                <label class="form-check-label" for="chairman">체어맨</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="AC" value="액티언">
                                <label class="form-check-label" for="AC">액티언</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="spark" value="스파크">
                                <label class="form-check-label" for="spark">스파크</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="malibu" value="말리부">
                                <label class="form-check-label" for="malibu">말리부</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="trex" value="트랙스">
                                <label class="form-check-label" for="trex">트랙스</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="cruz" value="cruz">
                                <label class="form-check-label" for="cruz">크루즈</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="olando" value="올란도">
                                <label class="form-check-label" for="olando">올란도</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="trailB" value="트레일블레이저">
                                <label class="form-check-label" for="trailB">트레일블레이저</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- forth card -->
            <div class="col-lg-4 clickable dropdown order-lg-5">
                <div class="card mb-3">
                    <div class="row g-0" onclick="toggleContent(this)">
                        <div class="col-md-4">
                            <img src="https://i.postimg.cc/435rzCGp/jaguar-4073534-1280.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title mt-1">기타/수입차</h5>
                                <p class="card-text me-4 mb-2">내 차를 선택해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-content mt-3">
                        <form class="p-3">
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="other" value="기타 승용차">
                                <label class="form-check-label" for="other">기타 승용차</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="motos" value="어울림 모터스">
                                <label class="form-check-label" for="motos">어울림 모터스</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="mini" value="미니">
                                <label class="form-check-label" for="mini">미니</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="toyota" value="도요타">
                                <label class="form-check-label" for="toyota">도요타</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="BMW" value="BMW">
                                <label class="form-check-label" for="BMW">BMW</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="lax" value="렉서스">
                                <label class="form-check-label" for="lax">렉서스</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input repair-item" type="checkbox" id="porche" value="포르쉐">
                                <label class="form-check-label" for="porche">포르쉐</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggleContent(card) {
            var content = card.parentElement.querySelector('.hidden-content');
            if (content.style.display === "none" || content.style.display === "") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            var repairItems = document.querySelectorAll('.repair-item');
            var inputMessage = document.getElementById('inputMessage');
            var submitBtn = document.getElementById('submitBtn');
            var overlay = document.getElementById('overlay');

            function checkInput() {
                if (inputMessage.value.trim() !== "") {
                    submitBtn.disabled = false;
                    overlay.style.display = 'none';
                } else {
                    submitBtn.disabled = true;
                    overlay.style.display = 'block';
                }
            }

            // 초기 상태 설정
            checkInput();

            repairItems.forEach(function(item) {
                item.addEventListener('change', function() {
                    var selectedItems = [];
                    repairItems.forEach(function(checkbox) {
                        if (checkbox.checked) {
                            selectedItems.push(checkbox.value);
                        }
                    });
                    inputMessage.value = selectedItems.join(', ');
                    checkInput();
                });
            });

            inputMessage.addEventListener('input', checkInput);

            overlay.addEventListener('click', function() {
                const toastLiveExample = document.getElementById('liveToast');
                const toast = new bootstrap.Toast(toastLiveExample);
                toast.show();
            });
        });
    </script>
</main>

<div th:replace="~{common/footer.html}"></div>
</body>
</html>
