<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hitechautoworks.account.dao.AccountMapper">

    <resultMap id="user" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="user_pw"/>
        <result property="userName" column="user_name"/>
        <result property="userRole" column="user_role"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userAddress" column="user_address"/>
        <result property="userDepartment" column="user_department"/>
    </resultMap>

    <select id="findAllUser" resultMap="user">
        SELECT
        *
        FROM TBL_USER
        WHERE USER_ROLE = 'employee'
        ORDER BY user_name
    </select>

    <select id="findUserCode" resultMap="user">
        SELECT user_code, user_id, user_pw, user_name, user_role, user_email, user_phone, user_address, user_department
        from tbl_user
        where user_code = #{userCode}
    </select>

    <select id="findUserName" resultMap="user">
        SELECT
        *
        FROM TBL_USER
        WHERE user_name LIKE CONCAT('%', #{userName}, '%')
    </select>

    <select id="selectAccount" resultMap="user">
        SELECT * FROM TBL_USER
        WHERE USER_CODE = #{userCode}
    </select>

    <update id="updateUser">
        UPDATE TBL_USER
        SET
        user_id = #{userId},
        user_pw = #{userPw},
        user_name = #{userName},
        user_email = #{userEmail},
        user_phone = #{userPhone},
        user_address = #{userAddress},
        user_department = #{userDepartment}
        WHERE
        USER_CODE = #{userCode}
    </update>


    <delete id="deleteUser">
        DELETE FROM
        tbl_user
        WHERE
        user_code = #{ userCode }
    </delete>

</mapper>