<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hitechautoworks.res.dao.ResMapper">

    <resultMap id="res" type="com.ohgiraffers.hitechautoworks.res.dto.ResDTO">
        <id property="code" column="res_code"/>
        <result property="title" column="res_title"/>
        <result property="option" column="res_option"/>
        <result property="date" column="res_date"/>
        <result property="extra" column="res_extra"/>
        <association property="userDTO" javaType="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
            <id property="userCode" column="user_code"/>
            <result property="userId" column="user_id"/>
            <result property="password" column="password"/>
            <result property="userName" column="user_name"/>
            <result property="userRole" column="user_role"/>
        </association>
    </resultMap>
    <resultMap id="repair" type="com.ohgiraffers.hitechautoworks.repair.dto.RepairDTO">
        <result property="content" column="repair_content"/>
        <result property="date" column="repair_date"/>
        <result property="status" column="repair_status"/>
        <association property="resDTO" resultMap="res" />
    </resultMap>

    <select id="findUserCodeRes" resultMap="res">
        SELECT
        a.res_code,
        a.res_title,
        a.res_option,
        a.res_date,
        a.res_extra,
        b.user_name
        FROM
        tbl_res a
        join tbl_user b on (a.user_code = b.user_code)
        WHERE b.user_code = #{ userCode }
    </select>

    <select id="findAllres" resultMap="res">
        select
        a.res_code,
        a.res_title,
        a.res_option,
        a.res_date,
        a.res_extra,
        b.user_name
        from
        tbl_res a
        join tbl_user b on (a.user_code = b.user_code)
    </select>

    <select id="findUserRes" resultMap="res">
        SELECT *
        FROM tbl_user a
        JOIN tbl_res b on a.user_code = b.user_code
        WHERE res_code = #{ resCode }
    </select>

    <select id="findNameRes" resultMap="res">
        SELECT *
        FROM tbl_user a
        JOIN tbl_res b on a.user_code = b.user_code
        WHERE user_name = #{ resName }
    </select>

    <select id="findCodeRes" resultMap="res">
        SELECT
        a.res_code,
        a.res_title,
        a.res_option,
        a.res_date,
        a.res_extra,
        b.user_name
        FROM tbl_res a
        JOIN tbl_user b ON (a.user_code = b.user_code)
        WHERE a.res_code = #{code}
    </select>
    <select id="findStatus">
        SELECT
            repair_status
        FROM
            tbl_repair
        WHERE
            res_code = #{resCode}
    </select>

    <insert id="registres" parameterType="com.ohgiraffers.hitechautoworks.res.dto.ResRegistDTO">
        INSERT INTO tbl_res ( res_title, user_code, res_option, res_date, res_extra )
        VALUES ( #{ title }, #{ userCode }, #{ resoption }, #{ date }, #{ detailinfo } )
    </insert>

    <insert id="registcomment">
        INSERT INTO tbl_res_reply (res_code, res_reply_content, res_time, user_code)
        VALUES ( #{ rescode }, #{ comment }, #{ date }, #{ usercode } )
    </insert>

    <resultMap id="user" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="userRole" column="user_role"/>
        <result property="userImg" column="user_img"/>
    </resultMap>

    <resultMap id="commentResultMap" type="com.ohgiraffers.hitechautoworks.res.dto.ResCommentDTO">
        <result property="resReplyCode" column="res_reply_code"/>
        <result property="resCode" column="res_code"/>
        <result property="resReplyContent" column="res_reply_content"/>
        <result property="resTime" column="res_time"/>
        <result property="commentName" column="res_commentname"/>
        <result property="resCommentAble" column="res_comment_able"/>
        <association property="userDTO" resultMap="user"/>
    </resultMap>

    <select id="findComment" resultMap="commentResultMap">
        select a.res_reply_content, a.res_time, a.res_code, b.user_name, b.user_code, a.res_reply_code, b.user_role, b.user_img
        from tbl_res_reply a
        join tbl_user b on a.user_code = b.user_code
        WHERE a.res_code = #{ resCode } AND a.res_comment_able = 'Y'
        ORDER BY res_time desc
    </select>

    <update id="resModify">
        UPDATE
            tbl_res
        SET
            RES_OPTION = #{ fixOption },
            RES_DATE = #{ date },
            RES_EXTRA = #{ extra }
        WHERE
           RES_CODE = #{ resCode }
    </update>

    <delete id="resDelete">
        DELETE FROM
             tbl_res
        WHERE
            res_code = #{ resCode }
    </delete>

    <insert id="gofile">
        INSERT INTO tb3 ( tbl_file )
        VALUES ( #{ file }  )
    </insert>

    <update id="updateComment">
        UPDATE tbl_res_reply
        SET res_reply_content = #{ editcomment }
        WHERE res_reply_code = #{ resReplyCode }
    </update>

    <update id="deleteComment">
        UPDATE
            tbl_res_reply
        SET
            res_comment_able = 'N'
        WHERE
            res_reply_code= #{ resReplyCode }

    </update>
    <select id="resRepair" resultMap="res">
        SELECT * FROM tbl_res WHERE res_code = #{resCode}
    </select>
    <insert id="insertRes">
        INSERT INTO tbl_res (user_code,res_option,res_date,res_extra)
        VALUES
        (
            #{userCode},#{option},#{dateTime},#{resExtra}
        )
    </insert>

    <select id="replyComment">
        select a.user_img, a.user_name, a.user_role, b.res_replyComment_time, b.res_replyComment_content, b.res_reply_code
        from tbl_res_replycomment b
        join tbl_user a on b.user_code = a.user_code
        join tbl_res c on b.res_code = c.res_code
        where c.res_code = #{resCode}
        ORDER BY b.res_replyComment_time desc
    </select>
</mapper>