<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hitechautoworks.auth.dao.UserMapper">
    <select id="overlappedID" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_id
        FROM tbl_user
        WHERE user_id = #{id}
    </select>
    <insert id="regist" parameterType="com.ohgiraffers.hitechautoworks.auth.dto.UserRegistDTO">
        INSERT INTO tbl_user
        ( user_id, user_pw, user_name, user_email, user_phone, user_role, user_check )
        VALUES
        ( #{ userid }, #{ pass }, #{ username }, #{ email }, #{ phone }, 'CERTIFIED', #{ userCheck } )
    </insert>
    <resultMap id="login" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="user_pw"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>
    <select id="findByUsername" resultMap="login">
        SELECT *
        FROM tbl_user
        WHERE USER_ID = #{ username }
    </select>
<!--    <update id="findcheck" parameterType="java.util.Map">-->
<!--        UPDATE tbl_user1-->
<!--        SET user_role = 'CUSTOMER'-->
<!--        WHERE user_code = #{userCode} AND user_check = #{checknumber}-->
<!--    </update>-->
    <update id="findcheck" parameterType="map">
        UPDATE tbl_user
        SET user_role = 'CUSTOMER'
        WHERE user_id = #{userId} AND user_check = #{checknumber}
    </update>
    <resultMap id="user" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="userName" column="user_name"/>
        <result property="userRole" column="user_role"/>
    </resultMap>
    <select id="findAllUser" resultMap="user">
        SELECT
        *
        FROM TBL_USER
    </select>


    <select id="findUserCode" resultMap="user">
        SELECT * from tbl_user
        where user_code = #{userCode}
    </select>

    <resultMap id="finduser" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userNo" column="user_no"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="userRole" column="user_role"/>
    </resultMap>
    <select id="findUserName" resultMap="user">
        SELECT
        *
        FROM TBL_USER
        WHERE user_name = #{userName}
    </select>

        <resultMap id="partReusltMap" type="com.ohgiraffers.hitechautoworks.auth.dto.PartDTO">
        <id property="partCode" column="part_code"/>
        <result property="partName" column="part_name"/>
        <result property="partstock" column="part_stock"/>
        <result property="partPrice" column="part_price"/>
    </resultMap>

    <select id="selectPartByCode" resultMap="partReusltMap">
        SELECT *
        FROM tbl_part
        WHERE part_code = #{partCode}
    </select>

    <select id="selectAllPart" resultMap="partReusltMap">
        SELECT *
        FROM tbl_part
    </select>

    <select id="selectpart" resultMap="partReusltMap">
        SELECT *
        FROM tbl_part
        where part_code = #{partCode}
    </select>

<resultMap id="partResult" type="com.ohgiraffers.hitechautoworks.auth.dto.PartDTO">
        <id property="partCode" column="PART_CODE"/>
        <result property="partName" column="PART_NAME"/>
        <result property="partstock" column="PART_STOCK"/>
        <result property="partPrice" column="PART_PRICE"/>

    </resultMap>
    <select id="partSearchBtPartName" resultMap="partResult">
        SELECT
              *
        FROM
            tbl_part
        WHERE
             part_name = #{ partName }
    </select>


    <update id="modifyPart">
        UPDATE
            tbl_part
        SET
            PART_NAME = #{  partName },
            PART_STOCK= #{ partstock },
            PART_PRICE = #{ partPrice }
        WHERE
            PART_CODE = #{ partCode }
    </update>

    <insert id="addPart">
    INSERT INTO tbl_part(part_name, part_stock, part_price)
    VALUES(
        #{ partName },
        #{ partstock },
        #{ partPrice }
        )

    </insert>


        <resultMap id="res" type="com.ohgiraffers.hitechautoworks.auth.dto.ResDTO">
        <id property="code" column="res_code"/>
        <result property="title" column="res_title"/>
        <result property="option" column="res_option"/>
        <result property="date" column="res_date"/>
        <result property="extra" column="res_extra"/>
        <association property="userDTO" javaType="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
            <id property="userCode" column="user_code"/>
            <result property="userId" column="user_id"/>
            <result property="password" column="password"/>
            <result property="userName" column="user_name"/>
            <result property="userRole" column="user_role"/>
        </association>
    </resultMap>
    <select id="findAllres" resultMap="res">
        select
            a.res_code,
            a.res_title,
            a.res_option,
            a.res_date,
            a.res_extra,
            b.user_name
        from
            tbl_res a
        join tbl_user b on (a.user_code = b.user_code)
    </select>
    <select id="findUserRes" resultMap="res">
        SELECT *
        FROM tbl_res
        WHERE res_code = #{resCode}
    </select>
    <delete id="deletePart">
        DELETE FROM
                    tbl_part
        WHERE
             part_code = #{ partCode }
    </delete>


</mapper>
