<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hitechautoworks.auth.dao.UserMapper">
    <select id="overlappedID" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_id
        FROM tbl_user
        WHERE user_id = #{id}
    </select>
    <insert id="regist" parameterType="com.ohgiraffers.hitechautoworks.auth.dto.UserRegistDTO">
        INSERT INTO tbl_user
        ( user_id, user_pw, user_name, user_email, user_phone, user_role, user_check )
        VALUES
        ( #{ userid }, #{ pass }, #{ username }, #{ email }, #{ phone }, 'CERTIFIED', #{ userCheck } )
    </insert>
    <resultMap id="login" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="user_pw"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>
    <select id="findByUsername" resultMap="login">
        SELECT *
        FROM tbl_user
        WHERE USER_ID = #{ username }
    </select>
<!--    <update id="findcheck" parameterType="java.util.Map">-->
<!--        UPDATE tbl_user1-->
<!--        SET user_role = 'CUSTOMER'-->
<!--        WHERE user_code = #{userCode} AND user_check = #{checknumber}-->
<!--    </update>-->
    <update id="findcheck" parameterType="map">
        UPDATE tbl_user
        SET user_role = 'CUSTOMER'
        WHERE user_id = #{userId} AND user_check = #{checknumber}
    </update>


    <update id="updateUser" parameterType="hashmap">
       UPDATE
            tbl_user
        SET
            USER_NAME = #{ fullName },
            USER_ABOUT = #{ about },
            USER_ADDRESS = #{ address },
            USER_DEPARTMENT =#{ company },
            USER_PHONE = #{ phone },
            USER_EMAIL = #{ email },
            USER_IMG = #{ userImg }
        WHERE
            USER_CODE = #{ userCode }

    </update>
    <resultMap id="userUpdate" type="com.ohgiraffers.hitechautoworks.auth.dto.UserRegistDTO">
        <result property="userid" column="user_id"/>
        <result property="pass" column="user_pw"/>
        <result property="username" column="user_name"/>
        <result property="email" column="user_email"/>
        <result property="phone" column="user_phone"/>
    </resultMap>

    <select id="getAll" resultMap="userUpdate">
        SELECT
            user_id,
            user_pw,
            user_name,
            user_email,
            user_phone
        FROM
            tbl_user
        WHERE
            user_code = #{ userCode }
    </select>

    <update id="deletePeople">
        UPDATE tbl_user
        SET user_role= 'N'
        WHERE
            user_code= #{ userCode }
    </update>

    <resultMap id="user" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="user_pw"/>
        <result property="userName" column="user_name"/>
        <result property="userRole" column="user_role"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userAddress" column="user_address"/>
        <result property="userDepartment" column="user_department"/>
        <result property="userAbout" column="user_about"/>
        <result property="userImg" column="user_img"/>
    </resultMap>

    <select id="findUserCode" resultMap="user">
        SELECT user_code, user_id, user_pw, user_name, user_role, user_email, user_phone, user_address, user_department, user_about, user_img
        from tbl_user
        where user_code = #{userCode}
    </select>

    <update id="changepass">
        UPDATE tbl_user
        SET user_pw = #{ encodepw }
        WHERE user_code = #{ userCode }
    </update>

    <select id="getPartChart" resultType="map">
        select part_name, part_stock
        from tbl_part
        ORDER BY part_stock desc
        LIMIT 10;
    </select>

    <select id="getPersonChart" resultType="map">
        SELECT user_role, COUNT(*) as role_count
        FROM tbl_user
        GROUP BY user_role;
    </select>
</mapper>

