<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.hitechautoworks.auth.dao.UserMapper">
    <select id="overlappedID" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_id
        FROM tbl_user
        WHERE user_id = #{id}
    </select>
    <insert id="regist" parameterType="com.ohgiraffers.hitechautoworks.auth.dto.UserRegistDTO">
        INSERT INTO tbl_user
        ( user_id, user_pw, user_name, user_email, user_phone, user_role, user_check )
        VALUES
        ( #{ userid }, #{ pass }, #{ username }, #{ email }, #{ phone }, 'CERTIFIED', #{ userCheck } )
    </insert>
    <resultMap id="login" type="com.ohgiraffers.hitechautoworks.auth.dto.UserDTO">
        <id property="userCode" column="user_code"/>
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="user_pw"/>
        <result property="userRole" column="USER_ROLE"/>
    </resultMap>
    <select id="findByUsername" resultMap="login">
        SELECT *
        FROM tbl_user
        WHERE USER_ID = #{ username }
    </select>
<!--    <update id="findcheck" parameterType="java.util.Map">-->
<!--        UPDATE tbl_user1-->
<!--        SET user_role = 'CUSTOMER'-->
<!--        WHERE user_code = #{userCode} AND user_check = #{checknumber}-->
<!--    </update>-->
    <update id="findcheck" parameterType="map">
        UPDATE tbl_user
        SET user_role = 'CUSTOMER'
        WHERE user_id = #{userId} AND user_check = #{checknumber}
    </update>




</mapper>
